.applications {
    @include flex-center;
    margin: 0 auto;
    overflow-x: hidden;
    &__title {
        width: 100%;
        text-align: center;
        h2 {
            @include h2-title;
            border-bottom: 2px solid #000;
            display: inline-block;
        }
    }
    .card {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
        width: 90%;
        max-width: 95%;
        &__face {
            height: 70px;
            transition: .5s;
        }
        &__content {
            opacity: .5;
            transform: .5s;
            &.active {
                opacity: 1;
            }
        }
        &__face1 {
                position: relative;
                background-image: $gradient;
                @include flex-center;
                letter-spacing: $letter-spacing;
                z-index: 1;
                cursor: pointer;
                transform: translateY(35px);
                box-shadow: 0 20px 30px rgba(0,0,0,0.6);
                overflow-x: hidden;
                &.active {
                    transform: translateY(0);
                    box-shadow: none;
                }
        }
        &__face2 {
                position: relative;
                background-image: $gradient;
                @include flex-center;
                height: 70px;
                padding: 20px;
                transform: translateY(-35px);
                opacity: 0;
                overflow-x: hidden;
                &.active {
                    transform: translateY(0);
                    opacity: 1;
                    height: auto;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
                .button {
                    margin: 12px 0 0;
                    padding: 5px 50px;
                    letter-spacing: $letter-spacing;
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                    cursor: pointer;
                    transition: .5s;
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    &:hover {
                        background-color: rgba(255,255,255,0.2);
                    }
                }
        }
    }
} 