@media (min-width: 576px) {
    .header {
        h1 {
            margin-top: 20vh;
        }
    }
    .nav-container {
        .main-nav {
            li {
                padding: 10px 0;
            }
        }
    }
    .about-container {
        .my-image {
            margin: 30px 150px 25px auto;
        }
        .type-writer {
            margin: 3vh 15%;
            min-height: 140px;
        }
    }
    .technologies-container {
        height: 60vh;
    }
    .applications .card {
        width: 60%;
    }
    .footer {
        &__cloud-first {
            left: 20%;
        }
        &__cloud-second {
            right: 20%;
        }
    }
    .recipe-app {
        &__search {
            form {
                input {
                    width: 40%;
                }
            }
        }
        &__recipes {
            .recipe {
                width: 40%;
            }
        }
    }
    .active-recipe {
        .recipe {
            width: 80%;
            img {
                width: 60%;
            }
            p {
                padding: 15px;
            }
        }
        .ingredients {
            &__ingredient {
                width: 25%;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        &::before {
            background-image: url(../images/path.jpg);
        }
        h1 {
            font-size: $small-device-h1 * 1.2;
        }
        h2 {
            font-size: $small-device-h2 * 1.2;
        }
    }
    .hamburger {
        display: none;
    }
    .nav-container {
        opacity: 1;
        z-index: 10000;
        .main-nav {
            height: 0;
            &__select-lng {
                opacity: 1;
                visibility: visible;
                transform: translate3d(0px, 0px, 0px);
                z-index: 1;
                .fa {
                    top: 19px;
                    left: 70px;
                    z-index: 1;
                }
                select {
                    top: 5px;
                    left: 10px;
                    font-size: $small-device-h2;
                    background-image: $gradient;
                }
            }
            .border {
                display: none;
            }
            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                height: 60px;
                width: 100%;
                background-color: rgba(39, 101, 99,.3);
            }
            .menu {
                flex-direction: row;
                justify-content: flex-end;
            }
            li {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                font-size: $small-device-h2 / 1.4;
                padding: 0 20px;
                line-height: 60px;
                letter-spacing: $letter-spacing;
                z-index: 1;
                color: rgba(255,255,255,0.5);
                &.active {
                    transform: translateY(0);
                }
                &:nth-of-type(1) {
                    display: none;
                }
                & > .active {
                    font-size: $small-device-h2 / 1.4 !important;
                    font-weight: $bold-font;
                    color: rgba(255,255,255,1);
                    }
            }
        }
    }
    .about-container {
        .type-writer {
            min-height: 140px;
        }
    }
    .technologies-container {
        height: 250px;
    }
    .applications {
        align-items: flex-start;
        &__title {
            h1 {
                margin-bottom: 5px;
            }
        }
        .card {
            width: 45%;
            margin: 35px 15px;
        }
    }
    .footer {
        background-image: url(../images/threes.jpg);
    }
    .recipe-app {
        &__search {
            form {
                input {
                    width: 30%;
                }
            }
        }
        &__recipes {
            .recipe {
                width: 30%;
            }
        }
    }
    .active-recipe {
        .ingredients {
            &__ingredient {
                width: 22%;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        height: 100vh;
        width: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url(../images/path.jpg);
        background-position: 30% 50%;
        background-size: cover;
        background-attachment: fixed;
        &::before {
            display: none;
        }
        h1 {
            margin-top: 30vh;
            font-size: $desktop-h1;
        }
        h2 {
            font-size: $desktop-h2;
        }
        &__wave {
            height: 80px;
            background-size: 800px 80px;
        }
    }
    .nav-container {
        .main-nav {
            padding-right: 50px;
            li {
                padding: 0 30px;
            }
        } 
    }
    .desktop-wrapper {
        width: 70%;
        margin: 0 auto;
    }
    .about-container {
        margin: 0 auto;
        width: 70%;
        .type-writer {
            margin: 3vh 0;
            min-height: 110px;
        }
    }
    .technologies-container {
        height: 45vh;
    }
    .applications {
        width: 80%;
    }
    .form-contact-wrapper {
        width: 70%;
        margin: 0 auto;
    }
    .footer {
        width: 70%;
        margin: 0 auto;
        &__cloud {
            width: 200px;
            height: 131px;
        }
        &__cloud-first {
            left: 30%;
        }
        &__cloud-second {
            right: 30%;
        }
    }
    .footer-content {
        h1 {
            font-size: $desktop-h1;
        }
        h3 {
            font-size: $desktop-h3;
        }
    }
    .recipe-app {
        &__search {
            form {
                input {
                    width: 20%;
                }
            }
        }
        &__recipes {
            .recipe {
                width: 20%;
            }
        }
    }
    .active-recipe {
        .recipe {
            width: 50%;
        }
        .ingredients {
            &__ingredient {
                width: 15%;
            }
        }
    }
}