.form-contact-wrapper {
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));
    z-index: 2;
    padding: 20px 0 50px 0;
}

.form-contact {
    @include flex-center;
    background-image: $gradient;
    clip-path: polygon(0 12.5%, 100% 0, 100% 87.5%, 0% 100%);
    color: rgba(255,255,255,.5);
    h2 {
        @include h2-title;
        margin-top: 100px;
        border-bottom: 2px solid rgba(255,255,255,.5);
    }
    h3 {
        color: $correct-color;
        font-weight: $normal-font;
        letter-spacing: $letter-spacing / 2;
        transition: all .5s ease-in-out;
        margin-top: -145px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    letter-spacing: $letter-spacing;
}

label {
    width: 80%;
    margin: 5px 0;
    overflow: auto;
}

input, textarea {
    color: rgba(255,255,255,.6);
    text-align: center;
    min-height: 30px;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

textarea {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.submit-form {
    background-color: transparent;
    padding: 10px 60px;
    margin: 20px 0 100px 0;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid rgba(255,255,255,.5);
    color: rgba(255,255,255,.5);
    letter-spacing: $letter-spacing;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.submit-form:hover {
    background-color: rgba(255,255,255,.2);
}

.error {
    color: $error-color;
    font-size: 10px;
}

.contact-waves {
    position: relative;
    transform: rotate(180deg);
    z-index: 1;
}