$small-device-h1: 1.8rem;
$small-device-h2: 1.4rem;
$small-device-h3: .8rem;
$desktop-h1: 2.2rem;
$desktop-h2: 1.8rem;
$desktop-h3: 1rem;
$letter-spacing: 0.1rem;
$letter-spacing-big: 0.3rem;

$normal-font: 300;
$bold-font: 700;
$text-shadow: 2px 2px 2px #000;

$facebook-color: #3b5999;
$linkedin-color: #0077B5;
$github-color: #333;

$correct-color: #5cb85c;
$error-color: darken(red, 20%);

@mixin white-fontstyle {
    color: #fff;
    letter-spacing: $letter-spacing-big;
    font-weight: $normal-font;
    text-shadow: $text-shadow;
}

@mixin h1-title {
    font-family: $small-device-h1;
    letter-spacing: $letter-spacing;
    font-weight: $bold-font;
    margin: 40px 0 25px 0;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

$gradient: radial-gradient(circle at 33% 41%, rgba(250, 250, 250,0.03) 0%, rgba(250, 250, 250,0.03) 50%,rgba(37, 37, 37,0.03) 50%, rgba(37, 37, 37,0.03) 100%),radial-gradient(circle at 76% 49%, rgba(28, 28, 28,0.03) 0%, rgba(28, 28, 28,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),radial-gradient(circle at 41% 99%, rgba(247, 247, 247,0.03) 0%, rgba(247, 247, 247,0.03) 50%,rgba(120, 120, 120,0.03) 50%, rgba(120, 120, 120,0.03) 100%),radial-gradient(circle at 66% 27%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(156, 156, 156,0.03) 50%, rgba(156, 156, 156,0.03) 100%),linear-gradient(0deg, rgb(18, 81, 88),rgb(39, 101, 99));